form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contact-form,
.education-form,
.experience-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 20px;
}

button {
	align-self: center;
	background-color: rgb(238, 238, 238);
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 5px;
}
