* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-family: sans-serif;
}

body {
	background-color: rgb(233, 233, 233);
	display: flex;
	justify-content: center;
	gap: 20px;
}

div.app {
	display: flex;
	flex-wrap: wrap;
}

div.input-field,
div.output-field {
	margin: 20px;
	padding: 20px;
	min-width: 600px;
	border: 1px solid black;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

h1 {
	text-align: center;
}
