* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-family: sans-serif;
}

div.app {
	margin: 10px;
	border: 3px solid black;
	padding: 10px;
	background-color: antiquewhite;
}

div.education-field div.experience-field {
	width: 800px;
}

div.input-field {
	display: grid;
	grid-template-columns: 150px 300px;
}
